<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap-icons.min.css}">
</head>
<body>

<nav th:replace="~{fragments/header :: header}"></nav>

<main class="py-5">
  <div class="container">
    <p class="text-uppercase fw-semibold text-success small mb-1">Your vouchers</p>
    <h1 class="h3 mb-4">Dashboard</h1>
    <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Voucher Title</th>
      <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <!-- Fixed loop and columns to match the supposed properties -->
    <tr th:each="voucher : ${vouchers}">
      <td th:text="${voucher.id}"></td>
      <td th:text="${voucher.title}"></td>
      <td th:text="${voucher.description}"></td>
      <td><a th:href="@{/vouchers/order}" class="btn btn-outline-success me-2" type="button">Order</a></td>
    </tr>
    </tbody>
  </table>
  </div>
</main>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
