<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<th:block th:fragment="assets">
    <link rel="icon" type="image/svg+xml" th:href="@{/favicon.svg}">
    <link rel="preload" th:href="@{/css/fonts/bootstrap-icons.woff2} + '?dd67030699838ea613ee6dbda90effa6'"
          as="font" type="font/woff2" crossorigin>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-icons.min.css}" rel="stylesheet">
</th:block>

</head>
</html>
